*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background: #000; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

head, head::after, head::before {
  display: none;
}

html {
  width: 100vw;
  height: 100vh;
  /* min-height: 50vh; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  min-width: 40vmin;
  max-width: 100vmax;
  width: inherit;
  height: inherit;
  min-height: 50vmin;
  position: relative;
  background-color: #Fafafa;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  place-items: center center;
  overflow-x: hidden;
}

html:lang(en) #root{
  direction: ltr;
  text-align: left;
}

html:lang(ar) #root{
  direction: rtl;
  text-align: right;
}

#root :is(a) {
  display: block;
  text-decoration: none;
}

.headerBar {
  /* min-width: calc(100vmin - 50px);
  max-width: calc(100vmax - 150px); 
  top: 5px;
  width: calc(100vw); 
  /* margin-top: 1.2vmin; */
  top: 0px;
  width: 100vw;
  /* padding: 1vmax 2.5vmax; */
  padding-block: 1vmax;
  padding-inline: clamp(15px, 3.91vw, 100px);
  filter: grayscale(15px);
  background-color: rgba(255, 255, 255, 0.06);
  position: sticky;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2vmax;
  box-shadow:  0 0 2vmin rgba(0, 0, 0, 0.1);
  z-index: 1;

  
  & #user-name > a {
    font-family: "Inter", sans-serif;
    font-size: clamp(1rem, 15vw, 1.5rem);
    font-weight: 800;
    color: transparent;
    background:linear-gradient(to right, #6C7A89 45%, #FFA07A 100%);;
    background-clip: text;
    display: block;
  }
  
  /* & #navbar {
    position: relative;
  }

  & #languageToggle {
    position: relative;

  } */
}

.Container-buttons {
  width: clamp(150px, 1vw, 200px);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.toggle-container {
  width: 5rem; /* w-24 */
  height: 2.5rem; /* h-12 */
  padding: 0.25rem; /* p-1 */
  background-color: #d1d5db; /* bg-gray-300 - الحالة الافتراضية */
  position: relative;
  box-shadow: inset 0 0 2vmin rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 9999px; /* rounded-full */
}
        
.toggle-container.active {
  background-color: #3498db; /* bg-blue-600 - عند التفعيل */
}
        
.toggle-button {
  cursor: pointer;
  width: 2rem; /* w-10 */
  height: 2rem; /* h-10 */
  /* height: fit-content; */
  padding: 4px;
  font-size: 0.875rem; /* text-sm */
  font-weight: 700;
  color: #374151; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  border: none;
  border-radius: 9999rem;
  caret-shape: circle;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
              0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
}

.toggle-button.active {
  color: #3498db; /* text-blue-600 */
  transform: translateX(2.5rem); /* translate-x-12 (12 * 0.25rem = 3rem) */
}

/*.toggle-text {
  font-weight: 700;
  font-size: 0.875rem;  text-sm *
  width: 2;
}

.toggle-text.ar {
  color: #3498db; * text-blue-600 /
}

.toggle-text.en {
  color: #374151; /* text-gray-700 
}*/

div#messageContainer {
  top: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-Index: 1000;

  & #messageBox {
    padding: 16px 24px;
    color: white;
    background-color: #1f2937;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeInOut 3s ease-in-out;

    & #messageText {
      margin: 0;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }
  }
}

#btn-Menu {
  cursor: pointer;
  /* width: clamp(45px, 2.3vw + 0.46rem, 60px);
  height: clamp(45px, 2.1vw + 0.46rem, 60px); */
  padding: 0.5vmax;
  background-color: white;
  /* fill: #000; */
  text-align: center;
  display: block;
  align-content: center;
  outline: none;
  border: none;
  /* corner-shape: squircle; */
  box-shadow: 0.5px 0.5px 8px 0 #6C7A8925;
  border-radius: 0.5vmax;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  & svg {
    /* width: clamp(16px, 1vw + 1rem , 28px); 
    height: clamp(16px, 1vw + 1rem , 28px); */
    width: clamp(24px, 1.5vw + 0.4rem, 34px);
    height: clamp(24px, 1.5vw + 0.4rem, 34px);
    fill: none;
    /* position: relative; */
  }

  & svg > path {
      width: inherit;
      height: inherit;
      fill: #6C7A89;
    }
}

#btn-Menu:is(:focus, :focus-visible) {
  outline: none;
  border: none;
}

#btn-Menu:hover,
#btn-Menu:hover svg path {
  fill: white;
  background: #FFA07A;
  /* box-shadow: inset 0 0 2vmin rgba(0, 0, 0, 0.1); */
}

nav {
  grid-column: 1/2;
}


main.Content {
  /* height: 100%; */
  height: max-content;
  position: relative;
  /* padding-block: 35px; */
  grid-column: 2/3;
  /* background-color: #ffffff; */

  & section {
    width: 100%;
    /* height: 100vh; 
    padding-block: 35px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      justify-content: flex-start
    }
    
    &:last-child {
      width: 100%;
      height: max-content;
    }
  }
}

/* main.Content:is() /
main > section#overview {
  height: 100%;
  /* grid-column: 2 / 3; 
  
}*/

.overview-content {
  /* width: minmax(250px, 1200px); */
  /* max-width: 1800px; */
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;


  & .Avatar-Profile {
    /* max-width: 300px;
    max-height: 300px;
    padding: 10px;
    background: #000;
    position: relative;
    display: flex;
    width: clamp(300px, 25vw, 450px);
    height: clamp(300px, 25vw, 450px); */
    /* aspect-ratio: 1; */
    clip-path: circle(50% at 50% 50%);
    position: relative;
    overflow: hidden;
    
    
    & .profile-image {
        /* width: 300px;
        height: 300px; 
        width: inherit;
        height: inherit;*/
        object-fit: cover;
        object-position: center;
        /* border-radius: 50%; */
        clip-path: circle(50% at 50% 50%);
    }
  }

  & .Container-text {
    width: fit-content;
    height: 100%;
    /* block-size: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;

      & h1 {
        margin-bottom: 1rem;
        color: #6C7A89;
        font-family: Tajawal,
                    Cairo,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto, sans-serif;
      }

      & h1 ~ p {
        margin-bottom: 1.25rem;
        font-size: 1.2rem;
        color: #8A99A7;
        line-height: 1.6;
        /* color: rgb(209, 209, 209); */
      }

    & .content-buttons {
        /* width: calc(100%/2);
        padding-block: 1vmin; */
        margin-top: 1.8vmax;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* justify-content: space-evenly; */
        align-items: center;
        column-gap: 2rem;

        & a {
          /* padding: 8px 12px; */
          padding: clamp(8px, 0.3rem + 0.5vw, 16px) clamp(10px, 0.3rem + 0.6vw, 20px);
          font-size:  clamp(12px, 0.71rem + 1vw, 16px);
          color: #6C7A89;
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.6);
          outline: 2px #6C7A89 solid;
          box-shadow: 0.5px 0.5px 10px 0 #8A99A735;
          border-radius: clamp(4px, 0.4vw, 8px);
        }

        & a:hover {
          color: white;
          background-color: #FFA07A;
          transform: scale(1.05);
          outline: 2px #FFA07A solid;
          box-shadow: 0 4px 15px 0 #00000015;
          transition: transform 0.3s ease-in-out; 
                      /* outline 0.5s ease-in-out; */
        }
    }
  }
}

div#Container-SocialMedia {
  width: 100%;
  margin-top: 4rem;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;


  & span {
    width: clamp(30px, 1.3rem + 1.2vw, 50px);
    height: clamp(30px, 1.3rem + 1.2vw, 50px);
    display: inline-block;
    text-align: center;
    
    & a  {
      width: inherit;
      height: inherit;
    
      & svg {
        width: inherit;
        height: inherit;
        fill: #6C7A89;
        position: relative;
        outline: clamp(2px, 0.11vw, 2.99px) #6C7A89 solid;
        border-radius: clamp(4px, 0.4vw, 8px);
        
        & rect {
          width: 100%;
          height: 100%;
          fill: none;
        }

        & path {
          fill: #6C7A89;
        }
      }

      & img {
        width: inherit;
        height: inherit;
      }
    }
  }


  & span:hover{
    transform: scale(1.1);
    box-shadow: 0.5px 0.5px 8px 0 #6C7A8925;
    transition: transform 0.3s ease-in-out;

    & a {
      & svg {
        outline: none;
        & path {
          fill: white;
        }
      }

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    } 
  }

  & span.linked-in:hover {
    & a {
      & svg {
        & rect{
          fill: #0A66C2;
        }
      } 
    } 
  }

  & span.GitHub:hover {
    & a {
      & svg {
        & rect{
          fill: #171515;
        }
      } 
    } 
  }

  & span.instagram {
    & a {
      & svg {
        display: block;
      } 

      & img {
        display: none;
      }
    } 
  }

  & span.instagram:hover {
    & a {
      & svg {
        display: none;
      }
      
      & img {
        display: block;
      }
    } 
  }

  & span.X {
    & a {
      & svg {
        & rect {
          fill: none;
        }
      }
    } 
  }

  & span.X:hover {
    & a {
      & svg {
        & rect {
          fill: #000;
        }
      }
    } 
  }
}

/* img.hover {
  width: inherit;
  height: inherit;
  position: relative;
  display: none;
} */

#Introduction-Awards, 
#Introduction-WhatIuse, 
#Introduction-Last-Work {
  /* width: 100%; */
  padding: 20px;
  /* margin-bottom: 50px; */
  text-align: center;
  position: relative;

  & h1.title {
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
    font-size: clamp(2rem, 2vw, 3rem);
    color: #6C7A89;
    position: relative;
    /* display: inline-block; */

    &::after {
      content: '';
      left: 50%;
      bottom: -10px;
      /* width: 300px; OR 200px */
      width: 180px;
      height: 4px;
      background: #FFA07A;
      position: absolute;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }

  & h1.title ~ p.subtitle {
    font-size: clamp(1.13rem, 1.2vw, 1.8rem);
    /* margin: 20px auto 0; */
    margin: 15px auto 0;
    font-weight: 400;
    line-height: 1.5;
    color: #8A99A7;
    text-box:flex-wrap ;
  }
}

.divider {
  width: 100%;
  height: clamp(1.25px, 0.08vw, 2.5px);
  margin: 0 auto clamp(20px, 1.8vw + 0.3rem, 50px);
  background: linear-gradient(to right, transparent, #6c7a8920, transparent);
}

#carousel-container {
  width: 100%;
  height: auto; 
  /* hieght: 350px
     height: 375px;
     aspect-ratio: 16 / 6.3; 
     aspect-ratio: 9 / 2.5;
  max-width: 75%;
  margin: 0 auto;
  padding-block: 15px 25px; */
  position: relative;
  /* border-radius: 20px; 
  box-shadow: 0 15px 40px #6c7a8910;*/
  /* overflow: hidden; */

  .carousel {
    /* max-width: 75%; */
    max-width: 80%;
    height: 100%;
    /* padding-block: 25px; */
    margin-inline: auto;
    display: flex;
    align-items: center;
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

    & .card {
      min-width: 100%;
      height: fit-content;
      display: flex;
      /* background: #8A99A7; 
      aspect-ratio: 16/9;*/
      /* box-shadow: 0 8px 30px #6c7a8912; */
      box-shadow: 0 15px 40px #6c7a8910;
                  /* 0 15px 40px #6c7a8915; */
      border-radius: 20px;
      overflow: hidden;

      & .card-content {
        max-height: 100%;
        padding: clamp(30px, 1vw + 0.6rem, 35px);
        flex: 1;
        position: relative;
        display: block;
        flex-direction: column;
        justify-content: center;

        & .rank-icon {
          width: 100%;
          /* font-size: 2.5rem; */
          /* width: 50px; */
          height: 50px;
          font-size: clamp(2.5rem, 2.5vw + 1.1rem, 3rem);
          margin-bottom: 15px;
          /* margin-bottom: clamp(15px, 1vw, 25px); */
          color: #FFA07A;
        }

        & .Event-Name {
          /* font-size: clamp(1.8em, calc(1.2rem + 1vw), 2.3em); */
          /* font-size: clamp(1.8em, calc(1.2rem + 1vw), 2em); */
          margin-bottom: 12px;
          font-size: clamp(1.1em, calc(1.4vw + 0.3rem), 2.5em);
          color: #6C7A89;
        }

        & .Event-Name ~ p.Description-Event {
          /* max-width: 500px; */
          /* max-width: clamp(500px, calc(25vw + 1.2rem), 660px); */
          width: 100%;
          margin-bottom: 14px;
          /* font-size: 1em; */
          font-size: clamp(1em, 1vw + 0.3rem , 1.25em);
          font-weight: normal;
          color: #8A99A7;
          line-height: 1.5;
        }

        & p.Description-Event ~ .stats  {
          /* margin-top: 15px; */
          width: 100%;
          position: relative;
          display: flex;
          gap: 1rem;
          align-items: center;

          & .stat-item {
            padding: 8px 14px;
            font-size: 0.8rem;
            color: #FFA07A;
            background: #ffa07a08;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 10px;

            & i {
              font-size: 1rem;
            }

            & i ~ span {
              font-size: clamp(1em, 0.63vw, 1.25em);
              font-weight: normal;
            }
          }
        }
        
        & .stats ~ span.Event-date {
          width: 100%;
          padding: 8px 18px;
          margin-top: 20px;
          font-size: clamp(0.9em, 0.7vw, 1em);
          font-weight: 500;
          color: #FFA07A;
          background: #ffa07a10;
          display: inline-block;
          border-radius: 20px;
        }
      }

      & .card-content ~ .card-picture {
        min-width: 25%;
        font-size: 8rem;
        color: #ffffff80;
        background: linear-gradient(135deg, #FFA07A, #FF6347);
        background-size: cover;
        background-position: center;
        flex: 0.8;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
      }

      &:hover {
        .card-picture {
          transform: scale(1.05);
        }
      }

    }
  }
}

#Introduction-WhatIuse {
  width: 100%;
  text-align: left;

  & h1 {
    &::after {
      left: 9% !important;
      width: 220px !important;
      height: 3.5px !important;
    }
  }

  & h1 ~ p {
    text-indent: 10px;
  }
}

#Container-Tools {
  width: 100%;
  /* padding: 35px;  */
  margin-top: 25px;
  padding-block: 35px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  place-items: center;
  justify-items: center;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

  & span {
    width: 100%;
    /* height: 70px; */
    padding: 15px 20px;
    position: relative;
    /* background: #8A99A7; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    inset: 0.2px solid #6C7A89;
    box-shadow: 0.5px 0.5px 8px 0 #6C7A8925;
    min-inline-size: 200px;
    max-inline-size: 350px;
    border-radius: 8px;

    & i {
      width: 45px;
      height: 45px;
      padding: 8px;
      margin-right: 8px;
      background: #6C7A8910;
      border-radius: 4px;
    }

    & i ~ div.Content-Define {
      width: 100%;
      height: 100%;
      font-optical-sizing: auto;
      font-style: normal;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & h3 {
        color: #6C7A89;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 4px;
      }

      & h3 ~ p {
        font-size: 0.8rem;
        font-weight: 300;
        color: #8A99A7;
      }
    }
  }
}

.last-Worked {
  max-width: calc(100% - 200px);
  margin: 35px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 35px;

  & .project-card {
    min-inline-size: 200px;
    min-block-size: 200px;
    max-inline-size: 350px;
    max-block-size: 350px;
    /* background: #8A99A7; */
    inset: 0.2px solid #6C7A89;
    border-radius: 20px;
    box-shadow: -0.5px -0.5px 10px 0 #8A99A710;
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 40px #6c7a8915;
    }

    & .project-logo {
      width: 100%;
      height: 200px;
      background: linear-gradient(135deg, #6C7A89, #FFA07A);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-size: 2rem;
    }

    & .project-logo ~ .project-content {
      width: 100%;
      padding: 25px;
      border-top-right-radius: 8px;

      & h3 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: #6C7A89;
      }

      & h3 ~ p {
        margin-bottom: 20px;
        font-weight: 400;
        color: #8A99A7;
      }

      & p ~ .project-View {
        width: 40%;
        font-weight: 500;
        color: #8A99A7;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease;

        & svg {
          width: 20px;
          height: 15px;
          fill: none;

          & path {
            stroke: #6C7A89;
            stroke-width: 2.1px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }

        &:hover,
        &:hover svg > path {
          width: 44%;
          stroke: #FFA07A;
          color: #FFA07A;
        }
      }
    }
  }
}


aside {
   grid-column: 3/4;
}

nav, aside {
  width: clamp(15px, 3.91vw, 100px);
}

footer {
  /* bottom: 0px; */
  width: calc(100vw - 50px);
  height: 35px;
  /* height: 8vmin; */
  /* padding: 0.9vmax 0; */
  font-size: 1vmax;
  text-align: center;
  color: white;
  background-color: #FFA07A;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  border-top-right-radius: 1.2vmax;
  border-top-left-radius: 1.2vmax;
  box-shadow: 0 4px 8px #0000001a;


  & :is(a, sup) {
    padding-inline: 5px;
    text-decoration: none;
    color: white;
  }
}



@media screen and (min-width: 501px) {
  main.Content {
    & section {
        height: 100vh;
        padding-block: 35px;
        min-block-size: 650px;
    }
  }

    & .Avatar-Profile {
      width: clamp(300px, 25vw, 450px);
      height: clamp(300px, 25vw, 450px);

      & .profile-image {
        width: inherit;
        height: inherit;
      }
    }
}

/* @media screen and (min-width: 501px) and (orientation: landscape) {
  main.Content {
    & section {
        min-block-size: 350px;
    }
  }
} */












    
    /* & .toggle-container {
      width: 6rem;
      height: 3rem;
      border-radius: 9999px;
      padding: 0.25rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: #d1d5db;

       .toggle-button {
        background-color: white;
        width: 2.5rem; /* w-10 *
        height: 2.5rem; /* h-10 *
        border-radius: 9999px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md *
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        & span.toggle-text {
          font-weight: 700;
          font-size: 0.875rem; /* text-sm *
        }

        & .toggle-text.ar {
            color: #2563eb; /* text-blue-600 *
        }
        
        .toggle-text.en {
            color: #374151; /* text-gray-700 *
        }
      }

      & .toggle-button.active {
            transform: translateX(3rem); /* translate-x-12 (12 * 0.25rem = 3rem) *
        }
    }

    & .toggle-container.active {
      background-color: #2563eb; /* bg-blue-600 - عند التفعيل *
    } */




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

